%br
%h2
  Hello, you can generate vim configuration below:

.generator
  = form_tag '/generate', class: 'generate-form', method: :get do
    = flash_tag(:notice)

    = field_set_tag do
      = display_config_group :require, check: true, disabled: true
      = display_config_group :recommend, check: true
      -# = display_config_group :appearance

    = submit_tag "Generate", class: "btn btn-primary"
